<hr class="top-gap-big"></hr>
<p class="text-center">
    <small class="text-muted">
        &copy; 2012 -
        <span itemprop="copyrightYear">2017</span>
        <i class="czs-heart" style="color:red;"></i>
        <span itemprop="copyrightHolder">王爵nice</span>
        <br/>
        由 <a class="text-muted" href="https://github.com/otale/tale" title="Tale">Tale</a> 强力驱动
        <span class="theme-separator">·</span>
        主题 <a class="text-muted" href="https://github.com/otale/theme_milk">Milk</a> by <a class="text-muted" href="https://github.com/xcatliu" target="_blank">xcatliu</a>
    </small>
</p>
