<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="stylesheet" href="${theme_url('/static/css/mobi.css-3.0.4/dist/mobi.min.css')}">
    <link rel="stylesheet" href="${theme_url('/static/css/caomei1.2.1/style.css')}">
    <link href="//cdn.bootcss.com/highlight.js/9.12.0/styles/androidstudio.min.css" rel="stylesheet">
    <link rel="stylesheet" href="${theme_url('/static/style.css')}">

    <meta name="keywords" content="${meta_keywords()}"/>
    <meta name="description" content="${meta_description()}"/>

    <link rel="alternate" href="${site_url('/atom.xml')}" title="${head_title()}" type="application/atom+xml" />

    <link rel="shortcut icon" href="${theme_url('/static/favicon.ico')}"/>
    <title>${head_title()}</title>
</head>
